.login-panel{
    width: 40rem;
    height: 40rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
}

.main-layout{
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

p-inputgroup{
    margin:1rem;
}

btn-div{
    width: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
}